* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.s-main-cont {
    background-color: #4c4c57;
}

.navbar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #070A11;
    /* border-bottom: 1px solid rgb(170, 209, 241); */
    border-bottom: 1px solid rgb(73, 73, 73);
}

.navbar img {
    height: 77px;
}

.navbar div {
    font-size: 13px;
}

.navbar h2 {
    font-size: 20px;
}

.main-cont .m-inr {
    display: flex;
    max-width: 100%;
}

.m-inr .sidebar {
    /* width; */
    /* flex: 0 0 25%; */
    width: 20%;
    background-color: #252531;
    color: white;
    border-right: 1px solid rgb(73, 73, 73);
}

.m-inr .sidebar a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.m-inr .sidebar li {
    padding: 10px 3px 10px 1rem;
}

.m-inr .sidebar li:not(:last-of-type) {
    /* border-bottom: 1px solid rgb(194, 194, 194); */
    border-bottom: 1px solid rgb(73, 73, 73);
}

.m-inr .sidebar li i {
    margin-right: 1rem;
}

.m-inr .sidebar li>i:last-of-type {
    float: right;
}

.m-inr .sidebar li:hover {
    cursor: pointer;
    background-color: #75DAB4;
}

.m-inr .main-content {
    /* background-color: gren; */
}

.sidebar-links {
    list-style-type: none;
}

.main-content {
    display: flex;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 13px;
    gap: 13px;
    width: 80%;
}

.main-content .main-left {
    /* flex: 0 0 70%; */
    width: 70%;

}

.main-content .main-right {
    flex: 0 0 28.5%;
}

.banner-slider-main {
    width: 100%;
    height: 21rem;
    background-color:#b8b8b8 ;
    /* background-color: white; */
    box-sizing: border-box;
    padding: 10px;
    box-sizing: border-box;
}

.banner-slider img {
    width: 100%;
    height: 19.8rem;
}

.block {
    width: 100%;
    margin-top: 20px;
}

.block-heading {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.norm-txt {
    padding: 1rem;
    color: white;
    font-style: italic;
}

.vision-block .block-heading {
    background-color: #FAAC36;
}


.vision-block .norm-txt {
    background-color: #FFB539;
}

.mission-block .block-heading {
    background-color: #2398F8;
    /* background-color: #2398F8; */
}


.mission-block .norm-txt {
    background-color: #249FFF;
}

.values-block .block-heading {
    background-color: #9E9E9E;
}


.values-block .norm-txt {
    background-color: #A6A6A8;
}

.qp-block .block-heading {
    background-color: #10A6A8;
}


.qp-block .norm-txt {
    background-color: #11AEAF;
}

.qp-block .norm-txt p:not(:first-of-type) {
    margin-top: 15px;
}

.main-right .block:first-of-type {
    margin-top: 0;
}

.main-right .block-heading {
    background-color: #181B21;
    /* background-color: #2C76B9; */
    justify-content: start;
}

.main-right .block-heading i {
    margin: 0 12px;
}

.main-right .block-content {
    background-color: white;
    min-height: 2rem;
    max-height: 10rem;
}

.main-right .canteen-m {
    padding: 1rem 2rem;
}

.main-right .canteen-m p {
    font-weight: 600;
    color: #10A6A8;
}

.main-right .canteen-m ul {
    padding-left: 1.5rem;
    font-size: 15px;
    margin-top: 5px;
}

.buttons {
    background-color: #F6F6F6;
    padding: 10px 1rem;
    text-align: right;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons button {
    background-color: white;
    border: none;
    padding: 10px;
}

.buttons button:first-of-type {
    margin-right: 10px;
}

/* slick slider */
.banner-slider {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.banner-slider .slick-slide {
    text-align: center;
    color: #fff;
    background: #3498db;
    width: 100%;
}

.banner-slider .slick-prev,
.banner-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 90% !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    /* background: transparent; */
}

.banner-slider .slick-prev:hover,
.banner-slider .slick-prev:focus,
.banner-slider .slick-next:hover,
.banner-slider .slick-next:focus {
    color: transparent;
    outline: none;
    /* background: transparent; */
}

.banner-slider .slick-prev {
    left: 88% !important;
    z-index: 10;
}

.banner-slider .slick-next {
    right: 30px !important;
}

.banner-slider .slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px !important;
    line-height: 1;

    color: white !important;
}

.banner-slider .slick-prev:before {
    content: '←';
}

.banner-slider .slick-next:before {
    content: '→';
}

.banner-slider .slider img {
    position: relative;
    height: 22rem;
    width: 100%;
}